@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}

// on augmente la spécificité de notre sélecteur, comme ça ça sera prioritaire par
// rapport à la couleur de fond de body définie par semantic ui css
html body {
  background-color: gray;
}



/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
